/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */


/* Generics */
header {
    height: 90px;
    padding-left: 10px;
    padding-top: 20px;
    background-color: #4ea0ff;
    background-image: url('../img/pattern.png');
    background-size: 350px;
}

/* Header */
#logo {
    width: 200px;
}