/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */
.lightgray-text {
    color: #848484
}

.lightblue-text {
    color: #2daee7
}

.container {
    margin: auto 5px;
}

/* Generics */
header {
    height: 90px;
    padding-left: 10px;
    padding-top: 20px;
    background-color: #4ea0ff;
    background-image: url('../img/pattern.png');
    background-size: 350px;
    margin-bottom: 15px;
}

address {
    font-style: normal;
    font-size: 1rem;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

/* Header */
#logo {
    width: 200px;
}

/* Main Content */
.img-description{
    font-size: 0.8rem;
}